<% include partials/header %>

<h1><%=napspot.name%></h1>

<img src="<%= napspot.image %>" alt="">

<p><%= napspot.description %></p>

<% napspot.comments.forEach(function(comment){ %>
  <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }); %>

<% include partials/footer %>
